body{
    font-family: sans-serif;
}

table{
    border-collapse: collapse;

}

td, th{
    border: 1px solid #888;
    padding: 10px;
}

thead{
    text-align: left;
}

.totalCost, .productPrice, .productTotalCost{
    text-align: right;
}